-pencv-python
anaconda-navigator
anaconda-project
argh
asn1crypto
astropy
autopep8
backports.shutil-get-terminal-size
bitarray
bkcharts
bokeh
boto
bottleneck
brotlipy
cmake
conda-build
conda-package-handling
conda-verify
contextlib2
cython
cytoolz
distributed
django
dlib
email-validator
fastcache
flake8
flask
fsspec
gevent
glob2
html5lib
importlib-metadata
jupyter
jupyterlab
jupyterthemes
keras
mechanicalsoup
mkl-fft
mkl-random
mkl-service
mock
more-itertools
multipledispatch
navigator-updater
nltk
nose
numba
olefile
opencv-contrib-python
opencv-python
openpyxl
partd
path
pathlib2
pep8
pip-chill
pipwin
pyaudio
pycurl
pydocstyle
pyjokes
pyodbc
pyopenssl
pyreadline
pysocks
pytest
pyttsx3
pywhatkit
rope
rtree
scikit-image
seaborn
selenium
simplegeneric
singledispatch
sip
sklearn
sortedcollections
speechrecognition
sphinxcontrib-websupport
spyder
sqlalchemy
statsmodels
sympy
tables
tensorflow
tensorflow-gpu
torchaudio
torchvision
unicodecsv
voila
webdriver-manager
wget
win-inet-pton
win-unicode-console
wincertstore
xlrd
xlsxwriter
xlwings
xlwt
xmltodict
yapf
